/*! botu.css v0.2.0 | MIT License | https://bearhagen.com/t/botu */

@import "_config/_getConfig.scss";

body {
	color: $cText;
	font-family: 'latoregular', $fonts;
	font-size: 16px;
	background-color: $cBackground;
}

p,
li,
tr {
	line-height: 160%;
}

ul {
	&.no-bullets {
		list-style: none;
	}
}

a {
	color: $cText;
	text-decoration: none;

	&:hover,
	&:focus,
	&:active {
		color: $cPrimary;
	}

	&.dont-change {
		&:hover,
		&:focus,
		&:active {
			color: $cText;
			text-decoration: none;
		}
	}

	&.link {
		text-decoration: underline;
	}
}

.links {
	a {
		text-decoration: underline;
	}
}

::selection {
	color: $cWhite;
	background: $cBlack;
	text-shadow: none;
}

::-moz-selection {
	color: $cWhite;
	background: $cBlack;
	text-shadow: none;
}

hr {
	display: block;
	margin: $padding-small auto;
	border: none;
	height: 3px;
	width: 50%;
}

.layout {
	&-full {
		width: 100%;
		max-width: 100%;
	}

	&-square {
		&-small,
		&-medium,
		&-large {
			@include center('block');
			width: 100%;
		}
	
		&-small {
			max-width: $width-small;
		}

		&-medium {
			max-width: $width-medium;
		}

		&-large {
			max-width: $width-large;
		}
	}
}

.content {
	a {
		text-decoration: underline;
	}

	p {
		font-size: 1.25em;
		margin: 1em auto;
		line-height: 200%;

		&:first-of-type {
			margin-top: 0;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 2em;
		margin-bottom: 0;

		&:first-of-type {
			margin-top: 0;
		}
	}
}

