// General Variables
$width-small:	690px;
$width-medium:	1024px;
$width-large:	1200px;

$navigation-height: 100px;

$padding-small: 25px;
$padding-medium: 50px;
$padding-large: 100px;

$border-radius: 0;

$fonts: sans-serif, Helmet, Freesans;
